
img {
  height: 50vh;
  width: 50vw;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  position: relative;
}
#container canvas, #overlay, #overlay2 {
  position: absolute;
  touch-action: none;
}
div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.button {
  background-color: #999;
  margin: auto;
  top: 50%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: center;
  font-size: 36px;
  width: 50%;
}
.btn-group {
  margin-top: 80px;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


*{
  box-sizing:border-box;
}
body{
  font-family:Roboto, sans-serif;
}
.main-container{
  width:100%;
  margin:0 auto;
  padding:24px;
  text-align:center;
}
h3{
  font-size:20px;
}
p{
  font-size:16px;
  color:#757575;
}
.container{
  width:280px;
  background:#fff;
  margin:0 auto;
  padding:24px;
  box-sizing:border-box;
  //border:1px solid;
  border-radius:5px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.line{
  height:4px;
  width:152px;
  background-color:#e0e0e0;
  position:relative;
  margin-top:30px;
  float:left;
  margin-left:4px;
  margin-right:4px;
  &:after{
    content:"108 XP";
    position:absolute;
    bottom:-20px;
    right:0;
    font-size:12px;
    color:#757575;
  }
  .cur-xp{
    width:100%;
    position:relative;
    text-align:center;
    top:-30px;
    font-size:24px;
    color:#0366af;
  }
  .xp{
    width:100%;
    position:relative;
    text-align:center;
    top:-30px;
    font-size:24px;
    color:#0366af;
  }
}
.num-circle{
  padding:4px;
  width:30px;
  height:30px;
  background-color:#0366af;
  color:white;
  border-radius:50%;
  text-align:center;
  font-family:sans-serif;
  font-size:20px;
  float:left;
}
.target-lvl{
  background-color:#e99d00;
}
.progress{
  position:absolute;
  z-index:1;
  background-color:#0366af;
  height:4px;
  width:114px;
}
.buttons{
  text-align:right;
  padding-top:48px;
}
button{
  display: inline-block;
  position: relative;
  min-width: 5.14em;
  margin: 0 0.29em;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.7em 0.57em;
  border:none;
  color:#0366af;
}
.clear{
  clear:both;
}
.lvl-animate{
  transition:0.5s all;
  background-color:#0366af;
  float:right;
  transform:translateX(-100px) scale(2);
  margin-top:20px;
}
